.absolute-wrap {
    height: 622px;
    min-height: 622px;
    min-width: 1530px;
    overflow: hidden;
}

.absolute-wrap .content {
    height: 516px;
    display: flex;
    justify-content: center;
}

.absolute-wrap .about {
    width: 575px;
    padding-top:57px;
    margin-right: 120px; 
}

.absolute-wrap .title {
    font-size: 40px;
    line-height: 40px;
    color: #667287;
    text-align: left;
    margin-bottom: 16px;
}

.absolute-wrap .subTitle {
    font-size: 60px;
    line-height: 67px;
    text-align: left;
    font-weight: bold;
    margin-bottom: 32px;
    color: #FE7D48
}

.absolute-wrap .summary {
    font-size: 20px;
    color: #630218;
    line-height: 20px;
    margin-bottom: 24px;
    text-align: left;
}

.absolute-wrap .description{
    width: 575px;
    min-width: 575px;
    height: 256px;
    font-size: 20px;
    color:#667287;
    font-weight: 300;
    text-align: left
}

.absolute-wrap .about-img{
    width: 696px;
    height: 516px;
    overflow: hidden;
    object-fit: contain
}